.left-pane{
    background-color: #15202b;
    color: #fff;
    min-height: 100vh;
}
.container{
    position: fixed;
}
nav{
    padding-left: 3.3em;
}
header svg{
    height: 1.9em;
    margin-top: 0.7em;
    margin-bottom: 0.7em;
    margin-left: 4em;
}
nav svg{
    height: 1.3em;
    margin-right: 0.9em;
}
nav > *, button.more{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    font-size: 1.3em;
    font-weight: 500;
    width: 100%;
}
nav a span:hover{
    color: #1da1f2;
    border-radius: 1.5em;
    background: #192734;
}
nav .selected{
    color: #1da1f2;
}
nav button.more:hover{
    color: #1da1f2;
    border-radius: 1.5em;
    background: #192734;
}
nav a span{
    display: flex;
    align-items: center;
    height: 2.7em;
    width: fit-content;
    padding: 0 0.7em;
}
nav button.more span{
    display: flex;
    align-items: center;
    height: 2.7em;
    width: fit-content;
    padding: 0 0.7em;
}
button{
    background: unset;
    border: unset;
}
button.tweet{
    display: block;
    background: #1da1f2;
    color: #fff;
    height: 3em;
    width: 14em;
    border-radius: 1.5em;
    font-size: 1em;
    margin-top: 0.5em;
    margin-left: 3.3em;
    cursor: pointer;
}
button.tweet:hover{
    background: #0f90e5;
}
footer{
    position: fixed;
    bottom: 1.5em;
    margin-left: 0.5em;
}
button.account{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    color: #fff;
    font-size: 1em;
}
.photo{
    border-radius: 100%;
    width: 2.5em;
    background: #192734;
    margin-left: 3.5em;
}
.photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
}
.name{
    font-weight: 700;
}
.username{
    color: #8899a6;
}